<%- include("header") -%>
<head>
  <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
  <meta name="theme-color" content="#712cf9">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="public/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


</head>
<!-- <div class="box" id="heading"><h1> <%= listTitle %> </h1></div> -->

<section aria-colspan="main">


  <!doctype html>
  <html lang="en">

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
      <meta name="generator" content="Hugo 0.104.2">
      <title>SYGE</title>
  
      <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
      <link rel="stylesheet" href="style.css">
  
      <link rel="stylesheet" href="public/css/style.css">
      
  
      
  
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
      <!-- Favicons -->
 
  
      
      <!-- Custom styles for this template -->
      <link href="style.css" rel="stylesheet">
    </head>
    <body>
      
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Welcome to SYGE</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
          
        <a class="nav-link px-3" href="main.html">Sign out</a>
      </div>
    </div>
  </header>
  
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky sideM">
          <ul class="nav flex-column">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
              <span>Administration</span>
              <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle" class="align-text-bottom"></span>
              </a>
            </h6>
            <li class="nav-item ">
              <a class="nav-link active" aria-current="page" href="/">
                <span data-feather="home" class="align-text-bottom"></span>
                Dashboard
              </a>
            </li>
           
            <li class="nav-item">

              <a class="nav-link" href="AddNewEmployee.html">
                <span data-feather="file" class="align-text-bottom"></span>
                Add New Employee
              
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/Payroll.html">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
               Payroll
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="content.html">
                <span data-feather="users" class="align-text-bottom"></span>
               Leave Days Admin
              </a>
            </li>
          </ul>
  
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
         
            </button>
          <div class="btn-toolbar mb-2 mb-md-0">
              
            <div class="btn-group me-2">
      
                 
              <button type="button" class="btn btn-sm btn-outline-secondary Size_btn">Share</button>
              
              <button type="button" class="btn btn-sm btn-outline-secondary Size_btn">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle Size_btn">
              <span data-feather="calendar" class="align-text-bottom"></span>
              This week
            </button>
          </div>
        </div>
        
        <div class="row">
          <div class="EmployeesHeader col-8">Employees</div>
          <div class="col-4"><form class="form-inline" action="/search" method="post" >
            <div class="input-group">
              <label for="search-input" class="sr-only">Search</label>
              <input type="text" id="search-input" class="form-control" name="searchQueryName" placeholder="Search" autocomplete="on" required>
              <div class="input-group-append">
                <button class="btn btn-dark" type="submit" aria-label="Search">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
          
          
          
          </div>
        </div>

        
  
        <table class="table table-striped">
          <thead class="bg-dark">
            <tr>
              <th class="textheader">Profile Picture</th>
              <th class="textheader">Employee Number</th>
              <th class="textheader">First Name</th>
              <th class="textheader">Last Name</th>
              <th class="textheader">Department</th>
              <th class="textheader">Action</th>
              <th class="textheader">Status</th>
            </tr>
          </thead>
          <tbody>
            <% Learn.forEach(function(item) { %>
              <tr>
                <td>
                  <img class="ProfileP" data-toggle="modal" data-target="#popup<%= item._id %>" src="<%= item.Employee_Profile_Picture %>" alt="">
                </td>
                <td class="textpadding"  style="vertical-align: middle;"><%= item.Employee_number %></td>
                <td class="textpadding"  style="vertical-align: middle;"><%= item.Employee_FirstName %></td>
                <td class="textpadding"  style="vertical-align: middle;"><%= item.Employee_LastName %></td>
                <td class="textpadding"  style="vertical-align: middle;"><%= item.Employee_Department %></td>
                <td class="textpadding"  style="vertical-align: middle;">
                  <div  class="row">
                    <div class="col-4"> <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editModal<%= item._id %>">Edit</button></div>
                    <div class="col-4"> <form action="/delete" method="post">
                      <button type="button" class="btn btn-danger">Delete</button>
                    </form></div>
                  </div>
                 
                 
                </td>
                <td style="vertical-align: middle;">
                  <button type="button" class="btn btn-dark">Active</button>
                </td>
              </tr>

              
              <style>
                .modal-dialog {
                    margin: 0%;
                    position: absolute;
                    top: 0%;
                    left: 30%;
                    transform: none;
                    width: 100%;
                    height: 100%;
                    
                    
                }.modal-body{
                  height: 700px;
                }
                
            </style>
              <!-- Modal -->
              <div class="modal fade" id="popup<%= item._id %>" tabindex="-1" role="dialog" aria-labelledby="popup<%= item._id %>Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="popup<%= item._id %>Label"><%= item.EmployeeTitle %> <%= item.Employee_FirstName %> <%= item.Employee_LastName %></h5>
                      <button type="button" class="btn btn-dark" data-dismiss="modal" aria-label="Close"> Close
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    
                    <div class="modal-body">
                      <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active"  data-toggle="tab" href="#EmployeeInfo_<%= item._id %>" role="tab">Employee Info</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#EmploymentInfo_<%= item._id %>" role="tab">Emyloyment info</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Allowance_<%= item._id %>" role="tab">Allowance</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Deductions_<%= item._id %>" role="tab">Deductions</a>
                          </li>
                        </ul>
                        <!-- Tab panes -->
                      <div class="tab-content">
                        <div class="border border-dark tab-pane active" id="EmployeeInfo_<%= item._id %>" role="tabpanel">
                          <div class="row">
                            <div class="col-3">
                              <img class="ProfileP3" data-toggle="modal" data-target="#popup<%= item._id %>" src="<%= item.Employee_Profile_Picture %>" alt="">

                            </div>
                            <div class="col-9"><h5 class="modal-title" id="popup<%= item._id %>Label" style="text-align: start; padding-top: 10%;"><%= item.EmployeeTitle %> <%= item.Employee_FirstName %> <%= item.Employee_LastName %></h5></div>
                          </div>
                          <div class="row">
                            <div class="col-4">
                              <p class="iNFORStyle">Employee Number: <span class="iNFORStyle2"> <%= item.Employee_number %></span> </p>
                            </div>
                            <div class="col-4">
                              <p  class="iNFORStyle">Employee Home Address:<span class="iNFORStyle2"><%= item.Employee_Home_Address %> </span> </p>
                             </div>
                             <div class="col-4">
                              <p class="iNFORStyle">Employee Nationality: <span class="iNFORStyle2"><%= item.Employee_Nationality %></span> </p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-4">
                              <p class="iNFORStyle">Employee Email Address: <span class="iNFORStyle2"><%= item.Employee_email_adsress %></span></p>
                              </div>
                            <div class="col-4">
                              <p class="iNFORStyle">Employee Alternative Contact Details: <span class="iNFORStyle2"><%= item.Epmloyye_Altenative_Contact %> </span> </p>
                            </div>
                            <div class="col-4">
                              <p class="iNFORStyle">Employee Contact Details: <span class="iNFORStyle2"><%= item.Epmloyye_Contact %> </span> </p>
                             </div>
                          </div>
                          <div class="row">
                            <div class="col-4">
                              <p class="iNFORStyle">Employee ID Number: <span class="iNFORStyle2"><%= item.EpmloyyeID_Number %> </span> </p>
                            </div>
                            <div class="col-4">
                              <p class="iNFORStyle">Employee Citizenship: <span class="iNFORStyle2"><%= item.Employee_CitizenShip %> </span> </p>
                            </div>
                            
                          </div>
                        </div>



                        <div class="border border-dark tab-pane" id="EmploymentInfo_<%= item._id %>" role="tabpanel">
                          <div class="row">
                            <div class="col-3">
                              <img class="ProfileP4" data-toggle="modal" data-target="#popup<%= item._id %>" src="<%= item.Employee_Profile_Picture %>" alt="">

                            </div>
                            <div class="col-9"><h5 class="modal-title" id="popup<%= item._id %>Label" style="text-align: start; padding-top: 10%;"><%= item.EmployeeTitle %> <%= item.Employee_FirstName %> <%= item.Employee_LastName %></h5></div>
                          </div>
                          <div class="row">
                            <div class="col-4">
                              <p class="iNFORStyle">Department:<span class="iNFORStyle2"><%= item.Employee_Department %> <p class="iNFORStyle"></p></span> </p>
                            </div>
                            <div class="col-4">
                              <p  class="iNFORStyle">Employee Tax Number : <span class="iNFORStyle2"><%= item.Employee_Tax_Number %> </span> </p>
                             </div>
                             <div class="col-4">
                              <p class="iNFORStyle">Employee UIF: <span class="iNFORStyle2"><%= item.Epmloyye_UIF %></span> </p>
                              
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-4">
                              <p class="iNFORStyle">Employee Tax:<span class="iNFORStyle2"><%= item.Epmloyye_TAX %><p class="iNFORStyle"></p></span> </p>
                            </div>
                            <div class="col-4">
                              <p  class="iNFORStyle">Employee Tax Number : <span class="iNFORStyle2"><%= item.Employee_Tax_Number %> </span> </p>
                             </div>
                             <div class="col-4">
                              <p class="iNFORStyle">Employee PAYE:  <span class="iNFORStyle2"><%= item.Epmloyye_PAYE %></span> </p>
                              
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-4">
                              <p class="iNFORStyle">Employee Tax:<span class="iNFORStyle2"><%= item.Epmloyye_TAX %><p class="iNFORStyle"></p></span> </p>
                            </div>
                            <div class="col-4">
                              <p  class="iNFORStyle">Employee Tax Number : <span class="iNFORStyle2"><%= item.Employee_Tax_Number %> </span> </p>
                             </div>
                             <div class="col-4">
                              <p class="iNFORStyle">Employee SDL:  <span class="iNFORStyle2"><%= item.Epmloyye_SDL %></span> </p>
                              
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-4">
                              <p class="iNFORStyle">Employee Hourly Rate:<span class="iNFORStyle2"><%= item.Epmloyye_hour_Rate %><p class="iNFORStyle"></p></span> </p>
                            </div>
                            <div class="col-4">
                              <p  class="iNFORStyle">Employee Basic Salary: <span class="iNFORStyle2"><%= item.Epmloyye_Basic_Salary %> </span> </p>
                             </div>
                             <div class="col-4">
                              <p class="iNFORStyle">Employee Final Salary:  <span class="iNFORStyle2"><%= item.Epmloyye_Basic_Final_Salary %></span> </p>
                              
                            </div>
                          </div>
                        </div>

                          
   
             
                    
             
                  
                        <div class="border border-dark tab-pane" id="Allowance_<%= item._id %>" role="tabpanel">
                          <div class="row">
                            <div class="col-3">
                              <img class="ProfileP5" data-toggle="modal" data-target="#popup<%= item._id %>" src="<%= item.Employee_Profile_Picture %>" alt="">

                            </div>
                            <div class="col-9"><h5 class="modal-title" id="popup<%= item._id %>Label" style="text-align: start; padding-top: 10%;"><%= item.EmployeeTitle %> <%= item.Employee_FirstName %> <%= item.Employee_LastName %></h5></div>
                          </div>
                          <div class="row">
                            <div class="col-4">
                              <p class="iNFORStyle">Employee Allocated Leave Days:<span class="iNFORStyle2"><%= item.Employee_Leave_Days_total %><p class="iNFORStyle"></p></span> </p>
                            </div>
                            <div class="col-4">
                              <p  class="iNFORStyle">Employee Days Taken: <span class="iNFORStyle2"><%= item.Employee_Leave_Days_Taken %> </span> </p>
                             </div>
                             <div class="col-4">
                              <p class="iNFORStyle">Employee Days Left:  <span class="iNFORStyle2"><%= item.Employee_Leave_Days_left %></span> </p>
                              
                            </div>
                          </div>
                          
                  
                         
                        </div>
                        <div class="border border-dark tab-pane" id="Deductions_<%= item._id %>" role="tabpanel">
                          <div class="row">
                            <div class="col-3">
                              <img class="ProfileP6" data-toggle="modal" data-target="#popup<%= item._id %>" src="<%= item.Employee_Profile_Picture %>" alt="">

                            </div>
                            <div class="col-9"><h5 class="modal-title" id="popup<%= item._id %>Label" style="text-align: start; padding-top: 10%;"><%= item.EmployeeTitle %> <%= item.Employee_FirstName %> <%= item.Employee_LastName %></h5></div>
                          </div>
                          <div class="row">
                            <div class="col-4">
                              <p class="iNFORStyle">Employee Days Left:<span class="iNFORStyle2"> <%= item.Employee_Leave_Days_left %><p class="iNFORStyle"></p></span> </p>
                            </div>
                            <div class="col-4">
                           
                             </div>
                             <div class="col-4">
                              
                              
                            </div>
                          </div>
                         
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="editModal<%= item._id %>" tabindex="-1" role="dialog" aria-labelledby="popup<%= item._id %>Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg"  role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editModalLabel">Edit Employee Details</h5>
                      <button type="button" class="btn btn-dark" data-dismiss="modal" aria-label="Close"> Close
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

                    
                      
                      
                      <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">

                          <a class="nav-link active" id="EmIn-tab" data-toggle="tab" href="#EmIn_<%= item._id %>" role="tab" aria-controls="EmIn" aria-selected="true">Employee Info</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="Employment-tab" data-toggle="tab" href="#Employment_<%= item._id %>" role="tab" aria-controls="Employment" aria-selected="false">Employement Info</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="Alw-tab" data-toggle="tab" href="#Alw_<%= item._id %>" role="tab" aria-controls="Alw" aria-selected="false">Allowance</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="Ded-tab" data-toggle="tab" href="#Ded_<%= item._id %>" role="tab" aria-controls="Ded" aria-selected="false">Deductions</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="Lead-tab" data-toggle="tab" href="#Lead_<%= item._id %>" role="tab" aria-controls="Lead" aria-selected="false">Leave Days</a>
                        </li>
                      </ul>
                      
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active"  id="EmIn_<%= item._id %>" role="tabpanel" aria-labelledby="home-tab">
                          <div class="row">
                            <div class="col-3">
                              <img class="ProfileP6" data-toggle="modal" data-target="#popup<%= item._id %>" src="<%= item.Employee_Profile_Picture %>" alt="">
                            </div>
                            <div class="col-9"><h5 class="modal-title" id="popup<%= item._id %>Label" style="text-align: start; padding-top: 10%;"><%= item.EmployeeTitle %> <%= item.Employee_FirstName %> <%= item.Employee_LastName %></h5></div>
                          </div>
                          
                          <form action="/EmployeeInfoUpdate" method="POST">
                            <div class="row">
                              <div class="col-12">
                                <ul class="list-group" style="vertical-align: 50%;">
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                   <h6>Profile Picture link </h6> 
                                    <p class="btn btn-outline-warning">
                                      <input type="text" name="EmployeeProfilePicture" value="<%= item.Employee_Profile_Picture %>">
                                  </p>
                                  </li>
                                </ul>
                            </div>
                                
                            </div>


                            <div class="row">
                              <div class="col-6">
                                <ul class="list-group" style="vertical-align: 50%;">
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                   <h6>Home Address: </h6> 
                                    <p class="btn btn-outline-warning">
                                      <input type="text" name="employeeHomeAddress" value="<%= item.Employee_Home_Address %>">
                                  </p>
                                  </li>
                                </ul>
                            </div>
                                <div class="col-6">
                                  <ul class="list-group" style="vertical-align: 50%;">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                     <h6>Email Address:  </h6> 
                                      <p class="btn btn-outline-warning">
                                        <input type="text" name="Employeeemailadsress" value="<%= item.Employee_email_adsress %>">
                                    </p>
                                    </li>
                                  </ul>
                                </div>
                            </div>

                            <div class="row">
                              <div class="col-6">
                                <ul class="list-group" style="vertical-align: 50%;">
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                   <h6>ID Number: </h6> 
                                    <p class="btn btn-outline-warning">
                                      <input type="text" name="EpmloyyeIDNumber" value="<%= item.EpmloyyeID_Number %>">
                                  </p>
                                  </li>
                                </ul>
                            </div>
                                <div class="col-6">
                                  <ul class="list-group" style="vertical-align: 50%;">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                     <h6>Alternative Contact Details: </h6> 
                                      <p class="btn btn-outline-warning">
                                        <input type="text" name="AlternativeContactDetails" value="<%= item.Epmloyye_Altenative_Contact %>">
                                    </p>
                                    </li>
                                  </ul>
                                </div>
                            </div>

                            <div class="row">
                              <div class="col-6">
                                <ul class="list-group" style="vertical-align: 50%;">
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                   <h6>Contact Details:</h6> 
                                    <p class="btn btn-outline-warning">
                                      <input type="text" name="EpmloyyeContact" value="<%= item.Epmloyye_Contact %>">
                                  </p>
                                  </li>
                                </ul>
                            </div>
                                <div class="col-6">
                                  <ul class="list-group" style="vertical-align: 50%;">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                     <h6>Tax Number:</h6> 
                                      <p class="btn btn-outline-warning">
                                        <input type="text" name="EmployeeTaxNumber" value="<%= item.Employee_Tax_Number %>">
                                    </p>
                                    </li>
                                  </ul>
                                </div>
                            </div>
                            <input type="hidden" name="id" value="<%= item._id %>">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" value="Save" class="btn btn-success">Save Changes</button>
                            </div>
                        </form>
                        
                        </div>
                        <div class="tab-pane fade" id="Employment_<%= item._id %>" role="tabpanel" aria-labelledby="profile-tab">
                          <div class="row">
                            <div class="col-3">
                              <img class="ProfileP6" data-toggle="modal" data-target="#popup<%= item._id %>" src="<%= item.Employee_Profile_Picture %>" alt="">
                            </div>
                            <div class="col-9"><h5 class="modal-title" id="popup<%= item._id %>Label" style="text-align: start; padding-top: 10%;"><%= item.EmployeeTitle %> <%= item.Employee_FirstName %> <%= item.Employee_LastName %></h5></div>
                            <form action="/EmployementInfoUpdate" method="POST">
                              <div class="row">
                                <% var hours_worked = 0; %>
                                <% var Basic_salary = hours_worked * item.Epmloyye_hour_Rate; %>
                                <div class="col-6">
                                  <ul class="list-group" style="vertical-align: 50%;">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">

                                      <div class="row"> <div class="col-12">  <h6>Basic Salary Before Deductions: </h6> <div class="col-6"> <p class="btn btn-warning">
                                        <span>R </span>  <input type="text" class="basic-salary-input" name="EmployeeBasicSalary" value="<%= item.Epmloyee_Basic_Salary %>" >
                                      </p></div></div></div>
                                     
                                     
                                    </li>
                                    
                                   
                                  </ul>
                                  <script>
                          
                                  </script>
                              </div>
                                  <div class="col-6">
                                    <ul class="list-group" style="vertical-align: 50%;">
                                      <li class="list-group-item d-flex justify-content-between align-items-center">
                                       <h6>Hourly Rate:  </h6> 
                                        <p class="btn btn-warning">
                                          <span>R </span>  <span class="hourly-rate-input"><%= item.Epmloyye_hour_Rate %></span>
                                      </p>
                                      </li>
                                    </ul>
                                  </div>
                              </div>
  
                              <div class="row">
                                <div class="col-6">
                                  <ul class="list-group" style="vertical-align: 50%;">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <h6>Hours Worked: </h6> 
                                      <p class="btn btn-outline-warning">
                                        <input type="number" class="hours-worked-input"  minlength="0" maxlength="6"  name="hoursWorked" value="<%= item.Hours_worked %>" min="0" max="10000" step="1" pattern="[0-9]+" required >
                                      </p>
                                    </li>
                                  </ul>
                                  
                              </div>
                                  <div class="col-6">
                                    <ul class="list-group" style="vertical-align: 50%;">
                                      <li class="list-group-item d-flex justify-content-between align-items-center">
                                       <h6>Medical Aid:</h6> 
                                        <p class="btn btn-outline-warning">
                                       <span>R </span>   <input type="number" class="madical-aid-input" minlength="0" maxlength="6"  name="MedicalAid" value="<%= item.Medical_Aid %>" min="0" max="10000" step="1" pattern="[0-9]+" required>
                                          
                                      </p>
                                      </li>
                                    </ul>
                                  </div>
                              </div>

                              <div class="row">
                                <div class="col-6">
                                  <ul class="list-group" style="vertical-align: 50%;">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <h6>Fines:</h6>
                                      <p class="btn btn-outline-warning">
                                        <span>R </span>    <input type="number" class="fines-input" minlength="0" maxlength="6" name="finess" value="<%= item.Epmloyye_Fines %>" min="0" step="1" pattern="[0-9]+">
                                      </p>
                                    </li>
                                  </ul>
                                  
                                  
                              </div>
                                  <div class="col-6">
                                    <ul class="list-group" style="vertical-align: 50%;">
                                      <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <h6> Montly Tax: </h6> 
                                       
                                        <p class="btn btn-warning">
                                          <span>R </span><span class="basic-after-tax-input" name="EmployeeBasicAfterTax" ><%= item.Epmloyye_TAX %></span>
                                        </p>
                                      </li>
                                    </ul>
                                  </div>
                                 
                              </div>

                              <div class="row">
                                <div class="col-6">
                                  <ul class="list-group" style="vertical-align: 50%;">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                      <h6>Allowance: </h6> 
                                      <p class="btn btn-outline-warning">
                                        <span>R </span>  <input type="number" class="basic-allowance-input" minlength="0" maxlength="6"  name="Allowancee" value="<%= item.Employee_Allowance %>" min="0" max="1000" step="1" pattern="[0-9]+" required>
                                      </p>
                                    </li>
                                  </ul>
                                  
                              </div>
                                  <div class="col-6">
                                    <ul class="list-group" style="vertical-align: 50%;">
                                      <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <h6> UIF: </h6> 
                                       
                                        <p class="btn btn-warning">
                                          <span>R </span><span class="UIF-input" name="UIFF" ><%= item.Epmloyye_UIF %></span>
                                        </p>
                                      </li>
                                    </ul>
                                  </div>
                              </div>
                              <input type="hidden" name="id" value="<%= item._id %>">
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                  <button type="submit" value="Save" class="btn btn-success">Save changes</button>
                              </div>
                          </form>
                          
                          
                          
                          </div>
                        </ul>
                        </div>
                        <div class="tab-pane fade" id="Alw_<%= item._id %>" role="tabpanel" aria-labelledby="messages-tab">
                          <div class="row">
                            <div class="col-3">
                              <img class="ProfileP6" data-toggle="modal" data-target="#popup<%= item._id %>" src="<%= item.Employee_Profile_Picture %>" alt="">
                            </div>
                            <div class="col-9"><h5 class="modal-title" id="popup<%= item._id %>Label" style="text-align: start; padding-top: 10%;"><%= item.EmployeeTitle %> <%= item.Employee_FirstName %> <%= item.Employee_LastName %></h5></div>
                          </div>
                          <form action="/EmployementInfoUpdate" method="POST">
                      

                            <div class="row">
                              
                                <div class="col-12">
                                  <ul class="list-group" style="vertical-align: 50%;">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                     <h6>Allowance: </h6> 
                                      <p class="btn btn-outline-warning">
                                     
                                        <span>R </span>     <input type="text" class="basic-allowance-input" name="Allowancee" value="<%= item.Employee_Allowance %>">
                                    </li>
                                  </ul>
                                </div>
                            </div>

                         
                            <input type="hidden" name="id" value="<%= item._id %>">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" value="Save" class="btn btn-success">Save changes</button>
                            </div>
                        </form>
                        </div>
                        <div class="tab-pane fade" id="Ded_<%= item._id %>" role="tabpanel" aria-labelledby="settings-tab">
                          <div class="row">
                            <div class="col-3">
                              <img class="ProfileP6" data-toggle="modal" data-target="#popup<%= item._id %>" src="<%= item.Employee_Profile_Picture %>" alt="">
                            </div>
                           
                            <div class="col-3"><h5 class="modal-title" id="popup<%= item._id %>Label" style="text-align: start; padding-top: 10%;"><%= item.EmployeeTitle %> <%= item.Employee_FirstName %> <%= item.Employee_LastName %></h5></div>
                            <div class="col-6">
                           
                              <ul class="list-group" style="vertical-align: 50%;">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                 <h6> Salary Before Deductiions: </h6> 
                                  <p class="btn btn-warning">
                                    <span>R </span>  <span class="basic-allowance-input" ><%= item.Epmloyee_Basic_Salary %></span>
                                  
                                </li>
                              </ul>

                            </div>
                          
                          </div>
                          <form action="/EmployementInfoUpdate" method="POST">
                      

                            <div class="row">
                              <div class="col-6">
                                <ul class="list-group" style="vertical-align: 50%;">
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                   <h6>Medical Aid:</h6> 
                                    <p class="btn btn-warning">
                                      <span>R </span><span class="madical-aid-input" name="MedicalAid" ><%= item.Medical_Aid %></span>
                                      
                                  </p>
                                  </li>
                                </ul>
                            </div>
                                <div class="col-6">
                                  <ul class="list-group" style="vertical-align: 50%;">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                     <h6>Fines: </h6> 
                                      <p class="btn btn-warning">
                                        <span>R </span><span class="fines-input" name="Finess" ><%= item.Epmloyye_Fines %></span>
                                        
                                    </li>
                                  </ul>
                                </div>
                            </div>
                            <div class="row">
                              
                              <div class="col-6">
                                <ul class="list-group" style="vertical-align: 50%;">
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <h6> Montly Tax: </h6> 
                                   
                                    <p class="btn btn-warning">
                                      <span>R </span><span class="basic-after-tax-input" name="EmployeeBasicAfterTax" ><%= item.Epmloyye_TAX %></span>
                                    </p>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-6">
                                <ul class="list-group" style="vertical-align: 50%;">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <h6>Salary After Deductions: </h6> 
                                 
                                  <p class="btn btn-warning">
                                    <span>R </span><span class="basic-after-tax-input" name="EmployeeBasicAfterTax" ><%= item.Epmloyee_Basic_Final_Salary %></span>
                                  </p>
                                </li>
                              </ul>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-6">
                            
                              <ul class="list-group" style="vertical-align: 50%;">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <h6> UIF: </h6> 
                                 
                                  <p class="btn btn-warning">
                                    <span>R </span><span class="UIF-input" name="UIFF" ><%= item.Epmloyye_UIF %></span>
                                  </p>
                                </li>
                              </ul>
                              
                          </div>
                              <div class="col-6">
                                
                              </div>
                             
                          </div>

                         
                            <input type="hidden" name="id" value="<%= item._id %>">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                
                            </div>
                        </form>
                        </div>
                        <div class="tab-pane fade" id="Lead_<%= item._id %>" role="tabpanel" aria-labelledby="Leavedays-tab">
                          
                          <form action="/leavedays" method="POST">
                            <div class="row">
                              <div class="col-3">
                                <img class="ProfileP6" data-toggle="modal" data-target="#popup<%= item._id %>" src="<%= item.Employee_Profile_Picture %>" alt="">
                              </div>
                              <div class="col-3">
                                <h5 class="modal-title" id="popup<%= item._id %>Label" style="text-align: start; padding-top: 10%;">
                                  <%= item.EmployeeTitle %> <%= item.Employee_FirstName %> <%= item.Employee_LastName %>
                                </h5>
                              </div>
                              <div class="col-6">
                                <ul class="list-group" style="vertical-align: 50%;">
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <h6>Days Allocated</h6>
                                    <input type="number" class="btn btn-warning daysallocated" name="daysallocated" value="<%= item.Employee_Leave_Days_total %>" >
                                  </li>
                                </ul>
                                
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-6">
                                <ul class="list-group" style="vertical-align: 50%;">
                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <h6>Days Taken:</h6> 
                                    <p class="btn btn-outline-warning">
                                      <input type="number" class="days-taken" minlength="0" maxlength="3" min="0" max="30" name="daystaken" value="<%= item.Employee_Leave_Days_Taken %>" required title="Enter a number between 0 and 30.">

                                    </p>
                                  </li>
                                </ul>
                              </div>
                              <div class="col-6">
                              <ul class="list-group" style="vertical-align: 50%;">
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            <h6>Days Left: </h6> 
                            <input type="number" class="btn btn-warning daysleft" name="daysleft"  value="<%= item.Employee_Leave_Days_left %>" >
                          </li>
                        </ul>


                              
                              </div>
                            </div>
                            <input type="hidden" name="id" value="<%= item._id %>">
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                              <button type="submit" value="Save" class="btn btn-success">Save changes</button>
                            </div>
                          </form>
                        </div>
                      </div>
              </div>
        

              
                    </div>    
                  </div>
                </div>
            <% }); %>
          </tbody>
          
        </table>
        
        <!-- Modal dialog -->
        <script src="/js/script.js"></script>
         </body>
      
      


<!-- Main content -->




  

 <!-- this below is for connectinf the pages -->
 



</html>